<!DOCTYPE html>
<html>
  
<head>
  <!-- imports -->
  <title>Controls</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type=text/javascript src="{{url_for
  ('static', filename='js/button.js') }}"></script>

</head>
    <div class="header">
        <header><h1>Arduino Control</h1></header> 
    </div>
<body>
  <button  name="light" value="on" type="button">ON</button>
  <button  name="light" value="off" type="button">OFF</button>
</body>

</html>
