<!DOCTYPE html>
<html>
  
<head>
  <!-- imports -->
  <title>Video Feed</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
  <script type=text/javascript src="{{
    url_for('static', filename='js/button.js') }}"></script>

</head>
    <div class="header">
        <header><h1>Live Piranha Feed</h1></header> 
    </div>
<body>
  <table class="cut">
    <tr>
        <td>
        </td>
    </tr>    
    <tr>
      <td>
        <button name="light" value="cut" type="button" >UnClog</button>
      </td>

      <!--<td>
        <empty>
          </td>-->

      <td>
        <button name="motor" value="scut" type="button" >Stop</button>
      </td>

    </tr>

  </table>

  <table class="buttons">
    <thead>
        <th>
            <!--empty-->
        </th>

        <th>
            <strong>Movement </strong>
        </th>

        <th>
            <strong>Ballast </strong>
        </th>

        <th>
            <strong>Waste Collection </strong>
        </th>

        <th>
            <strong>Automate </strong>
        </th>

    </thead>

    <tr>
      <td>
          <!--empty-->
      </td>

      <td>
        <button name="motor" value="fwd" type="button" >Forward</button>
      </td>

      <td>
        <button name="motor" value="sink" type="button" >Fill Tank</button>
      </td>

      <td>
        <button name="motor" value="pull" type="button" >Collect</button>
      </td>

    </tr>

    <tr>
      <th>
        <!--empty-->
      </th>

      <td>
        <button name="motor" value="stop" type="button" >Stop</button>
      </td>

      <td>
        <button name="motor" value="ssub" type="button" >Stop</button>
      </td>

      <td>
        <button name="motor" value="spmp" type="button" >Stop</button>
      </td>

      <td>
          <button  name="auto" value="auto" type="button">Auto</button>
      </td>

    </tr>


    <tr>
      <th>
          <!--empty-->
      </th>

      <td>
        <button name="motor" value="bck" type="button" >Backward</button>
      </td>

      <td>
        <button name="motor" value="float" type="button" >Empty Tank</button>
      </td>

      <td>
        <button name="motor" value="push" type="button" >Empty Waste</button>
      </td>

    </tr>
  </table>
  
  <!-- Gyro and acclerometer readings -->
  <table id="#data"></table>


</body>

</html>
